/***
http://www.colourlovers.com/palette/3513105/Art 
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, 
code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	/*margin: 0;*/
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
  background-color: #EBE8E4;
  color: #222;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

head {
	margin: 0px;
	padding: 0px;
	background-color: #9AD3A6;
}

footer {
	padding: 0;
	margin: 0px;
	background: white;
}

h1, h2, p {
	font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
}

ul, li{
	margin-left: 10px;
}

.rojo{
	color: red;
}

a {
	text-decoration: none ;
	color: red ;
	font-size: 15px ;
	font-weight: bold; 
	/*font: bold "trebuchet MS", Arial, Tahoma, Sans-serif;*/
}

section.columna1_4 ul li a{
  color: blue;
}

.columna1 {
	margin: 0px;
	padding-left:0px; 
	width: 100%;
	float:left; 	
 	background-color: #9AD3A6 ;
}

.columna1_3{
	margin: 10px;
	padding: 0px;
	width: 29%;
	float:left; 	
}

.columna1_4{
	margin: 0;
	padding: 0; 
	width: 25%;
	float:left; 	
/* 	background-color: white ;*/
}

.columna2_3{
  padding-top: 30px;
	margin-left: 15px;
	padding-left:0px; 
	width: 62%;
	float:left; 	
}

header {
  height:107px;
  display: block;
  z-index:10;
  float: left;
}

header .logo {
  background-color: transparent;
  background-position: left top;
  background-repeat: no-repeat;
  position: fixed;
  /*top: 72px;*/
  margin: 1%; 
  height: 75px;
  width: 75px;
}

.titulo{
	left: 20%;
	position: fixed;
	text-align: center;
}

.Three-Dee{
  font-family: Arial, sans-serif;
  line-height: 1em;
  color: #ea9563;
  font-weight:bold;
  font-size: 18px;
  text-shadow:0px 0px 0 rgb(187,102,52),1px 0px 0 rgb(149,64,14),2px 0px 0 rgb(112,27,-23), 3px 0px 0 rgb(75,-10,-60),4px 0px 3px rgba(0,0,0,0.25),4px 0px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);
}

.fixed-header {
  position: fixed;
  top:0; left:0;
  width: 100%; 
  background-color: #9AD3A6;
}

nav {
  background-color: #E4E2CB;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888;
  display: block;
  /*margin: 20px 200px 20px 200px;*/
  top: 5%;
  left: 20%;
  overflow: hidden;
  width: 60%; 
  text-align: center;
  position: fixed;
  display: block;
}

  nav ul {
    margin: 0;
    padding: 0;
  }

    nav ul li {
      display: inline-block;
      list-style-type: none;
      
      -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; 
    }
      
      nav > ul > li > a > .caret {
        border-top: 4px solid #aaa;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        content: "";
        display: inline-block;
        height: 0;
        width: 0;
        vertical-align: middle;
  
        -webkit-transition: color 0.1s linear;
     	  -moz-transition: color 0.1s linear;
       	-o-transition: color 0.1s linear;
          transition: color 0.1s linear; 
      }

      nav > ul > li > a {
        color: #aaa;
        display: block;
        line-height: 56px;
        padding: 0 24px;
        text-decoration: none;
      }

        nav > ul > li:hover {
          background-color: rgb( 40, 44, 47 );
        }

        nav > ul > li:hover > a {
          color: rgb( 255, 255, 255 );
        }

        nav > ul > li:hover > a > .caret {
          border-top-color: rgb( 255, 255, 255 );
        }
      
      nav > ul > li > div {
        background-color: rgb( 40, 44, 47 );
        border-top: 0;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
        display: none;
        margin: 0;
        opacity: 0;
        position: absolute;
        width: 165px;
	visibility: hidden;
	z-index: 100;
  
        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;
      }

        nav > ul > li:hover > div {
          display: block;
          opacity: 1;
          visibility: visible;
        }

          nav > ul > li > div ul > li {
            display: block;
          }

            nav > ul > li > div ul > li > a {
              color: #fff;
              display: block;
              padding: 12px 24px;
              text-decoration: none;
            }

              nav > ul > li > div ul > li:hover > a {
                background-color: rgba( 255, 255, 255, 0.1);
              }

.fila1{
	padding-top:12%;
  background-color: #E7D883;
	display: inline-block;
	position: relative;
	float: left;
}

.fila2{
	padding-top:0%;
	/*display: inline-block;
	position: relative;*/
	float: left;
  background-color: #E7D883;
  /*border: solid;*/
}

.fila3{
	padding-top:20%;	
	display: inline-block;
	position: relative;
	float: left;
}

aside{
  background-color: #EA9463;
  border-radius: 20px;
}

strong{
  font-weight: bold;
}

.parrafoAside{
  margin-left: 7px;
  margin-right: 10px;
}

.parrafoAside h3{
  font-size: large;
  background-color: gray;
  color: white;
}

h3.margenH3:hover{
  font-size: large;
  background-color: black;
  color: white;
}

.texto{
  text-align: justify;
  text-justify: inter-word;
}

.texto h3{
  font-size: large;
}

.info{
	line-height: 0.5;
}

.info2{
  line-height: 0.8;
}

hr{
  height: 1px;
  background-color: #EA9463;
  color: #EA9463;
}

p#sitewasup{
  line-height: 0.5;
}

#others_implementations{
  line-height: 1;
}

a#sourceforge{
  background-image: url();
  background-size: 217px 20px;
  background-repeat: no-repeat;
}

img#imgsource{
  height: 20px;
  width: 217px;
}

h3.margenH3{
  margin-top: 15px;
  margin-bottom: 5px;
}

h4.invert {
  padding-left: 10px;
  font-size: 18px;
  color: white;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: -0.5px;
  margin-top: 1px;
  background-color: gray;
}

h4.invert:hover {
  color: white;
  background-color: black;
}

#face{
  margin-right: 10%;
}
#val_html, #val_css{
  margin-bottom: 3%;
}
#face{
  margin-right: 8%;
  margin-top: 3%;
}
#html_5{
  margin-top: 1%;
}
#twit, #linke{
  margin-top: 3%;
}
#metaheuristic{
  margin: 18% 3% 0% 3%;
  width: 18%;
  height: 18%;
}
img.float_right {
    float: right;
    margin: 5px 0 10px 20px;
}

img.float_right:hover {
    background-color: #9AD3A6 ;
}
footer img{
  margin-top: 2%;
  margin-bottom: 1%;
}
footer a{
	margin-left: 1%;
	margin-right: 1%;
}